body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FAF8F6;
    color: #333333;
    line-height: 1.6;
}

a{
    text-decoration: none;
}

h1 {
    font-size: 2rem;
    margin: 10px;
    line-height: 2.4rem;
}

h2{
    font-weight: 400;
    color: #4F9ED0;
    text-transform:uppercase;
    font-size: 1rem;
    letter-spacing: 5px;
    margin: 0px;

}
p {
    font-size: 1rem;
    margin: 10px;
    text-align: justify;
    text-align-last: center;
    
}

ul{
    list-style-image: url(../img/bullet.png);
    font-size: 1rem;
}

.servicios-ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 0 30px;
    box-shadow: #333333;
    width: 1000px;
}

.servicios-li {
    text-align: center;
    font-size: 1rem;
    line-height: 1.3rem;
    flex: 1 1 200px;
    max-width: 220px; 
    border-radius: 15px;
    padding: 10px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.servicios-li img {
    width: 70px;
    margin: 0 auto 10px auto;
}

.servicios-li:hover {
    transform: scale(1.07);
}

.logos-ul {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    gap: 0px;
    justify-content: center;
    padding: 0 10px;
    width: 1000px;
}

.logos-li {
    text-align: center;
    font-size: 1rem;
    line-height: 1.3rem;
    flex: 1 1 200px;
    max-width: 220px; 
    border-radius: 15px;
    padding: 10px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.logos-li img {
    height: 40px;    
    margin: 0 auto 10px auto;
}

mark {
    background-color: #f5e605;
    color: #333333;
    padding: 0.01em 0.3em;
}

section {
    padding: 2rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section:nth-child(1) {
    position: relative;
    padding: 90px 0px;
    background-image: url("../img/papel-texture-2.png");
    background-position: right;
    background-size: cover;
    color: #565a6b;


}

/* section:nth-child(1)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 24, 52, 0.8), rgba(0, 24, 52, 0.3));
    
} */

section:nth-child(1) h1{
    font-size: 2.7rem;
    line-height: 100%;

}

section:nth-child(1) p{
    font-size: 1.2rem;
    line-height: 150%;
    padding: 0;
    text-align: left;
    text-align-last: left;

}

section:nth-child(2) {
    padding: 100px 0;
    background-image: url("../img/dot-grid.png");
    color: #565a6b;

}

section:nth-child(3) {
    padding: 90px 0;
    background-color: #0072BC;
    background-image: url("../img/infoacnur-bg.svg");
    background-size: cover;
    color: #ffffff;
}

section:nth-child(4) {
    padding: 100px 10%;
    background-image: url("../img/dot-grid.png");
    color: #565a6b;
}

section:nth-child(5) {
    padding: 50px 10% 30px 10%;
    background-color: #f7f8fa;
    color: #565a6b;
}

section:nth-child(6) {
    height: 200px;
    background-color: #f5e605;
    color: #333333;
    font-weight: bold;
}

section:nth-child(6) mark{
    background-color: #0072BC;
    color: #f5e605;
    font-weight: bold;
}

section:nth-child(7) {
    padding: 100px 0;
    background-image: url("../img/dot-grid.png");
    color: #565a6b;
}

section:nth-child(8) {
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
    background-color: #f7f8fa;
    color: #0072BC;
    gap: 20px;
    flex-wrap: wrap;
    min-height: auto;
}


.gallery {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
.gallery img {
    flex: 1 1 calc(50% - 5px);
    max-width: calc(50% - 5px);
    border-radius: 15px;
    object-fit: cover;
    height: 230px;
}

img{
    transition: transform 0.2s ease-in-out;
}

img:hover {
    transform: scale(1.02);
  }

.explainer{
    height: 400px;
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
    overflow: hidden;
}

h1, p{
    max-width: 800px;
}

.contenedor {
    position: relative;
    max-width: 500px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    gap: 10px;
    z-index: 2;
    text-align: left;
    margin-right: 40%;
}

.columnas{
    width: 1000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    z-index: 1px;
    text-align: left;
}

.columna{
    width: 50%;
}

.columna p{
    text-align: justify;
    text-align-last: left;
}

a{
    display: flex;
    align-items: center;
}

button {
    background-color: #4F9ED0;
    padding: 10px 14px;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
    font-family: poppins;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.1s ease-in-out;
    display: flex;
    align-items: center;
}

button img{
    height: 25px;
    margin-right: 5px;

}
button:hover {
    background-color: #0072BC;
    color: #ffffff;
}

button:active {
    background-color: #9ac7e3;
}

.servicios-li img{
    width: 100px;
    display: block;
    margin: 0px auto 10px auto;
}

.navbar .logo {
    display: flex;
    flex-direction: row;
    height: 65px;
    gap: 30px;
    margin-left: 20px;
  }
  
.navbar {
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    width: 100%;
    z-index: 10;  
    transition: background-color 1s ease;
    background-color: #ffffff;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.2);
    
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0px 40px;
}

.nav-links a {
    color: #4F9ED0;
    text-decoration: none;
    transition: color 0.3s;
    cursor: pointer;
    z-index: 10;
}

.nav-links a:hover {
    color: #0072BC !important;
    text-decoration: underline;
}

.hamburger {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: #0072BC;
    cursor: pointer;
    z-index: 10;
    margin-right: 20px;
}

.infoacnur-img{
    height: 60px;
}

.footer-columns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}

.footer-columns button{
    background-color: transparent;
    margin: 0;
    color: #0072BC;
    border: solid 2px #0072BC;
}

.footer-columns button:hover{
    color: #4F9ED0;
    border: solid 2px #4F9ED0;
}

.footer-columns button:active{
    background-color: #CDE3F1;
}

.footer-left{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.social img{
    height: 30px;
}

.footer-middle{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.footer-middle p{
    margin: 0 0 10px 0;
    font-size: 14px;
    text-align: left;
    text-align-last: left;
}

.footer-middle img{
    height: 70px;
}

.footer-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.logo-footer {
    height: 100px;
}

@media (max-width: 1024px) {
    .servicios-ul {
        width: 90%;
    }

    .columnas {
        width: 90%;
    }
    .gallery img {
        height: 200px;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        gap: 10px;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: #730913;
        border-radius: 8px;
        padding: 10px 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .nav-links.active {
        display: flex;
    }

    .hamburger {
        display: block;
    }

    .contenedor{
    align-items: center;
    text-align: center;
    margin-right: 0;
    }

    section:nth-child(1) p{
    font-size: 1.2rem;
    line-height: 150%;
    padding: 0;
    text-align: center;
    text-align-last: center;}

    .footer-columns {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 30px;
    }

    .footer-left{
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .footer-left,
    .footer-middle,
    .footer-right {
        width: 100%;
        align-items: center;
    }

    .footer-middle p {
        text-align: center;
        text-align-last: center;
    }

    .footer-middle img {
        width: 90%;
        height: auto;
    }

    .footer-right {
    justify-content: center;
}



    .logo-footer {
        height: 80px;
    }

}

@media (max-width: 768px) {

    section:nth-child(1) h1 {
        font-size: 2.2rem;
    }

    section:nth-child(1) p {
        font-size: 1rem;
    }

    button {
        margin: 0 auto;
    }

    .servicios-ul {
        padding: 0;
        gap: 5px;
    }

    .servicios-li {
        flex: 1 1 45%;
        max-width: none;
    }

    .servicios-li img {
        width: 100px;
    }
    
    .logos-ul {
        padding: 0;
        gap: 5px;
        flex-wrap: wrap;
        width: 90%;
    }

    .logos-li {
        flex: 1 1 35%;
        max-width: none;
    }

    .logos-li img {
        width: 100px;
        height: auto;
    }

    .columnas {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
    .columna {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .columna p {
        text-align-last: center;
    }

    section:nth-child(2) {
        padding: 30px 0px;
    }

    section:nth-child(3) {
        padding: 30px 30px;
    }
    section:nth-child(4) {
        padding: 30px 30px;
    }

    section:nth-child(5) {
        padding: 30px 30px;
    }

     section:nth-child(6) {
        padding: 30px 30px;
    }

    section:nth-child(7) {
        flex-direction: column;
        height: auto;
        padding: 20px;
        gap: 20px;
        text-align: center;
    }

    .explainer{
        margin: 10px 0;
        height: 300px;
    }

    .gallery{
        width: 100%;
    }
    .gallery img {
        height: 120px;
    }

    h1, p {
        max-width: 100%;
    }

    li{
        text-align: justify;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 0.9rem;
    }
    h1 {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    h2 {
        font-size: 0.8rem;
    }
    .gallery img {
        height: 150px;
    }
   
    button {
        font-size: 0.9rem;
        padding: 8px 16px;
    }
    
}